.qc-cmp-button {
    background-color: #F1D600 !important;
    border-color: #F1D600 !important;
  }
  .qc-cmp-button:hover {
    background-color: transparent !important;
    border-color: #F1D600 !important;
  }
  .qc-cmp-alt-action,
  .qc-cmp-link {
    color: #F1D600 !important;
  }
  .qc-cmp-button.qc-cmp-secondary-button:hover
   {
    border-color: transparent !important;
    background-color: #F1D600 !important;
  }
  .qc-cmp-button {
    color: #000000 !important;
  }
  .qc-cmp-button.qc-cmp-secondary-button {
    color: #F1D600 !important;
  }
  .qc-cmp-button.qc-cmp-button.qc-cmp-secondary-button:hover {
    color:#ffffff !important;
  }
  .qc-cmp-button.qc-cmp-secondary-button {
    border-color: #000001 !important;
    background-color: #000001 !important;
  }
  .qc-cmp-ui,
  .qc-cmp-ui .qc-cmp-main-messaging,
  .qc-cmp-ui .qc-cmp-messaging,
  .qc-cmp-ui .qc-cmp-beta-messaging,
  .qc-cmp-ui .qc-cmp-title,
  .qc-cmp-ui .qc-cmp-sub-title,
  .qc-cmp-ui .qc-cmp-purpose-info,
  .qc-cmp-ui .qc-cmp-table,
  .qc-cmp-ui .qc-cmp-table-header,
  .qc-cmp-ui .qc-cmp-vendor-list,
  .qc-cmp-ui .qc-cmp-vendor-list-title {
      color: #FFFFFF !important;
  }
  .qc-cmp-ui a,
  .qc-cmp-ui .qc-cmp-alt-action {
    color: #616161 !important;
  }
  .qc-cmp-ui {
      background-color: #000000 !important;
  }
  .qc-cmp-publisher-purposes-table .qc-cmp-table-header {
    background-color: #fafafa !important;
  }
  .qc-cmp-publisher-purposes-table .qc-cmp-table-row {
    background-color: #ffffff !important;
  }