body{
    background-image: url('https://i.pinimg.com/originals/47/0a/19/470a19a36904fe200610cc1f41eb00d9.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    }

.div_cvs{
width:515px;
margin:auto;
background:#3B3738;
padding:10px;
}

input:in-range{

width:200px;
background:#3B3738;
margin:5px;
}

.div_range{
display:inline-block;
background:#3B3738;
height:30px
}

.inp_coul{
border:none;
width:210px;
height:25px;
background:#3B3738;
padding:2px;
cursor:pointer;
}

.z_btn{

float:right;
display:inline-block;
margin-left:10px;
margin-top:-250px;
background:#3B3738;
padding:20px;
height:200px;

}

.z_btn button, .z_btn_g{

width:100%;
background:#ff5959;
text-align: center;
vertical-align: middle;
border: 1px solid #a12727;
border-radius: 2px;
background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#992727));
background: -moz-linear-gradient(top, #ff4a4a, #992727);
background: linear-gradient(to bottom, #ff4a4a, #992727);
text-shadow: #591717 1px 1px 1px;
 color: #ffffff;
text-decoration: none;
cursor:pointer;
margin-top:5px;
}

.z_btn button:hover, .bouton_fic:hover{
background: #ff5959;
background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
background: -moz-linear-gradient(top, #ff5959, #b62f2f);
background: linear-gradient(to bottom, #ff5959, #b62f2f);
}


.div_g{
display:inline-block;
background:#3B3738;
padding:5px
}
.z_btn_g{
margin-top:0px;
width:200px;
height:20px;
}

.div_code{

}

.inp_code{
width:200px;
height:20px;
font-size:22px;
}

.cadre{

position:fixed;
background:#3B3738;
color: white;
font-family: sans-serif;
border-radius: 3px;
font-size: smaller;
text-align:center;
min-height:100px;
width:320px;
border:2px solid #111111;
border-radius:10px;
box-shadow:0 0 15px #aaa;

}

.cadre span{
color:red;
}

.input_fic{
margin:20px;
border-radius:5px;
}

.bouton_fic{
margin:10px;
border: 1px solid #a12727;
border-radius: 2px;
background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#992727));
background: -moz-linear-gradient(top, #ff4a4a, #992727);
background: linear-gradient(to bottom, #ff4a4a, #992727);
text-shadow: #591717 1px 1px 1px;
color: #ffffff;
text-decoration: none;
text-align: center;
vertical-align: middle;
width:100px;
cursor:pointer;
}

*{
box-sizing: border-box;
}

/* Header/logo Title */
.header {
padding: 80px;
text-align: center;
background: #1abc9c;
color: white;
}

/* Increase the font size of the heading */
.header h1 {
font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
overflow: hidden;
background-color: #333;
position: sticky;
position: -webkit-sticky;
top: 0;
}

/* Style the navigation bar links */
.navbar a {
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
float: right;
}

/* Change color on hover */
.navbar a:hover {
background-color: #ddd;
color: black;
}

/* Active/current link */
.navbar a.active {
background-color: #666;
color: white;
}

/* Column container */
.row {  
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
-ms-flex: 30%; /* IE10 */
flex: 30%;
background-color: #f1f1f1;
padding: 20px;
}

/* Main column */
.main {   
-ms-flex: 70%; /* IE10 */
flex: 70%;
background-color: white;
padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
background-color: #aaa;
width: 100%;
padding: 20px;
}

/* Footer */
.footer {
padding: 20px;
text-align: center;
background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
.row {   
flex-direction: column;
}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
.navbar a {
float: none;
width: 100%;
}
}